.header-container {
width: 100%;
height: 10vh;
background-color: #495C83;    
display: flex;
align-items: center;
justify-content:flex-start;
.menu-items-right{
margin-left:auto;
padding: 10px;
display: flex;
}
.menu-items-left{
    padding: 10px;
    }
}
.head-profile{
    height: 29px;
    width: 30px;
    border: 2px solid white;
    display: flex;
    border-radius: 15px;
}

