<div class="container-outlet">
    <div class="container">
        <div class="side-bar">
            <div class="user-menu">
                <div class="user-menu-option">
                    <div class="menu-option">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span>SETTINGS</span>
                    </div>
                    <div class="menu-option">
                        <span class="glyphicon glyphicon-lock"></span>
                        <span>MY BOOKINGS</span>
                    </div>
                    <div class="menu-option">
                        <span class="glyphicon glyphicon-asterisk"></span>
                        <span>MY REVIEWS </span>
                    </div>
                    <div class="menu-option">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        <span>BILLING</span>
                    </div>
                </div>

            </div>
            <div class="admin-menu">
                <div class="admin-menu-title">
                    <h4 class="admin-title"> Admin</h4>
                </div>
                <div class="user-menu-option">
                    <div class="menu-option">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span>MANAGE TOURS</span>
                    </div>
                    <div class="menu-option">
                        <span class="glyphicon glyphicon-lock"></span>
                        <span>MANAGE USERS</span>
                    </div>
                    <div class="menu-option">
                        <span class="glyphicon glyphicon-asterisk"></span>
                        <span>MANAGE REVIEWS </span>
                    </div>
                    <div class="menu-option">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        <span>MANAGE BOOKINGS</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-setting">
            <div class="profile-setting">
                <app-profile></app-profile>
            </div>
            <div class="seprate-line"></div>
            <div class="password-setting">
                <app-change-password></app-change-password>
            </div>
        </div>
    </div>
</div>