.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile-input{
    display: flex;
    flex-direction: column;
}
.input{
    background-color: rgb(209, 209, 209);
    border:none;
}
.sub-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40%;
}
.profile-preview{
    display: grid;
    grid-template-columns: 20% 1fr;
}
.save-btn{
    display: flex;
    flex-direction: row-reverse;
}

label{
    font-size: small;
}
h1{
    font-weight: bold;
    background: linear-gradient(#00e752, #169170);
    -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            font-size: 15px;
    }
    .profile-form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }