<div class="password-change">
    <div class="password-container">
        <h1>PASSWORD CHANGE</h1>
        <form [formGroup] ="passwordForm" class="password-form">
            <div class="profile-input">
                <label>Current password</label>
                <input class="input" type="password" formControlName="currentPassword" name="profileName" />
            </div>
            <div class="profile-input">
                <label>New password</label>
                <input class="input" type="password"  formControlName="password" name="profileName" />
            </div>
            <div class="save-btn">
                <button (click)="save()"> save </button>
            </div>
        </form>
    </div>
</div>
