
.chat-avatar{
    height: 65px;
    width: 65px;
    border-radius: 21px;
    padding: 0px !important;
    margin: 0px !important;
}
.profile-pic {
height: 100%;
width: 100%;
border-radius: 30px;
}

.chat-content{
    display: flex;
    height: 100%;
    width:100%;
    .chat-container{
        padding: 10px;
        width: 28%;
        height:100%;
        display: flex;
    flex-direction: column;
    overflow: auto;
    }
    .chat-single{
        //  grid-template-columns: 10% 15% 1fr;
        // display: grid;
        // width: 30%;
        padding: 10px;
        width: 100%;
        height:100%;
        display: grid;
        grid-template-columns: 20% 70% 1fr;
    }
}
.name{
    font-weight: 600;
}
.messag-box{
height:100%;
width: 72%;
background-color: whitesmoke;
}

.chat-space{
    width: 70%;
    padding-left: 10px;
}

.chat-time{
    margin:auto;
}