.main{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: whitesmoke;
    overflow-x: hidden;
}
.header{
    height: 50%;
    width:100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-imgbackground{
    height: 100%;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #60a764;
    opacity: 0.5;
}

.details-content{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.detail-info{
    height: 100%;
    width: 50%;
    background-color: whitesmoke;
    display: flex;
}

.description{
    height: 100%;
    width: 50%;
    background-color: white;
    padding: 20px;
}

.quick-facts{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.info-contain{
    display: flex;
    display: grid;
    grid-template-columns: 10% 40% 1fr;

}
.profile-img{
    height: 20px;
    width: 20px;
    border: solid 1px;
    border-radius: 10px;
}

.guide-info{
    display: grid;
    grid-template-columns: 10% 30% 1fr;
}
.tour-guides{
    width:50%;
}
.title {
    font-weight: bold;
    color: #0ac90a;
}

.header-content{
    position: absolute;
}
.title-content{
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#00e752, #169170);
    color: aliceblue;
    font-size: x-large;
    opacity: 0.8;
}
.header-title{
    display: flex;
    flex-direction: column;
    
}
.header-locate{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
.slope-image{
    height:  43%;
    width: 100%;
    display: flex;
    transform: skewY(-4deg);
}
.slope-content{
    height: 100%;
    width: 33.5%;
}
.slope-img{
    height: 100%;
    width: -webkit-fill-available;
}
.guide{
    height: 80%;
    width: 100%;
    background-image: linear-gradient(#00e752, #169170);
    transform: skewY(-4deg);
    display: flex;
    align-items: center;
}
.guide-profile{
    display: flex;
    height: 100%;
    min-width: 20%;
    max-width: 20%;
    background-color: white;
    margin-left: 40px;
}
.guide-image{
    height: 30px;
    width: 30px;
    border-radius: 28px;
    display: flex;
    border: 2px solid;
}

.profile-info{
    height: 100%;
    width: 100%; 
}

.profile-head{
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
    align-items: center;
}

.split-head{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
}
.guide-profile-body{
    height:70%;
    width:100%;
}
.guide-des{
    padding: 10px;
    height: 70%;
    width: 100%
}
.guide-rating{
    height:30%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set-guide{
    display: flex;
    transform: skewY(4deg);
    height: 60%;
    overflow-y: auto;
}
::ng-deep {
    // *::-webkit-scrollbar {
    //   background-color: transparent;
    //   width: 0;
    //   height: 0;
    // }

    *::-webkit-scrollbar {
      background-color: #f6f6f6;
      width: 4px;
      height: 8px;
    }

    *::-webkit-scrollbar-track {
      transition: all 0.3s ease;
      background-color: #f6f6f6;
      width: 4px;
      height: 4px;
    }

    *::-webkit-scrollbar-track:hover {
      transition: all 0.3s ease;
      background-color: #f6f6f6;
    }

    *::-webkit-scrollbar-thumb {
      transition: all 0.3s ease;
      background-color: rgba(133, 133, 141, 0.8);
      border-radius: 10px;

    }

    *::-webkit-scrollbar-thumb:hover {
      transition: all 0.3s ease;
      background-color: darken(#d8dce6, 3%);
    }

    .map-location{
        height: 80%;
        width: 100%;
        transform: skewY(-4deg);
        }
        .agm-map{
            height: 100%;
            width: 100%; 
        }

    .book-tour-info{
        background-color: white;
            height: 50%;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            }
            
            .tour-book{
            height: 40%;
            margin-top: 12rem;
            width: 100%;
            display: flex;
            justify-content: center;
            }
            
           .book-tour-body{
            display: flex;
            flex-direction: column;
            }
}