.footer-container{
    width: 100%;
    height: 17vh;
    background-color: #aec1bf;    
    ul li{
        display: inline;
        padding: 10px;
    }
    .menu-items{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // margin:10Px;
        cursor: pointer;
    }
    .info-content{
        display: flex;
        justify-content: flex-end; 
        // margin:10Px;
    }
}


