::ng-deep{
    .modal-backdrop
{
  opacity: 0.5 !important;
}
.modal
{
  opacity: 1 !important;
}
.videoChat-popup{
    max-height: 500px !important;
    width: 700px !important;
    left: 50%;
    top:50%;
    margin-left:-200px;   
    margin-top:-200px;
    overflow-y: hidden !important;
}
.modal-content{
    height:100%;
    width: 100%;
}
.modal-dialog{
    top:25% !important;
    margin: 0%;
    padding: 0%;
    height:100%;
    width: 100%;
}
}

.local-video{
    height: 200px;
    width: 200px;
    display: flex;
}


